@{
    Layout = "./Layout/_MCLayout";
}

<div class="px-4 mt-4 min-vh-100">
    <h1 class="mb-3">Dashboard</h1>

    <div class="row">
        <div class="col-lg-4 mb-4">
            <div class="card bg-primary text-white">
                <div class="card-body">
                    <h5 class="card-title" style="font-weight: bold; font-size: 24px;">Total Accepted Contributions</h5>
                    <p class="card-text" style="font-weight: bold; font-size: 20px;">@ViewBag.AcceptedData</p> 
                </div>
            </div>
        </div>

        <div class="col-lg-4 mb-4">
            <div class="card bg-warning text-dark">
                <div class="card-body">
                    <h5 class="card-title" style="font-weight: bold; font-size: 24px;">Total Rejected Contributions</h5>
                    <p class="card-text" style="font-weight: bold; font-size: 20px;">@ViewBag.RejectedData</p> 
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card bg-secondary text-dark">
                <div class="card-body">
                    <h5 class="card-title" style="font-weight: bold; font-size: 24px;">Total Contributions pending approval</h5>
                    <p class="card-text" style="font-weight: bold; font-size: 20px;">@ViewBag.WaitingData</p> 
                </div>
            </div>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Quick Links</h5>
                    <a asp-controller="MarketingCoordinator" asp-action="PostManagement" class="btn btn-primary mb-2">Manage Contributions</a>
                </div>
            </div>
        </div>
    </div>
</div>
