
@{
    Layout = "~/Views/MarketingCoordinator/Layout/_MCLayout.cshtml";
}

<div class="row">
    <div class="col">
        <h1>Welcome, Marketing Coordinator</h1>
        <!-- Add dashboard widgets or links here -->
        <a asp-action="Magazines">Manage Magazines</a>
    </div>
</div>
