@using COMP1640_WebDev.ViewModels
@model IEnumerable<MagazineTableView>
@{
    ViewData["Title"] = "Home";
    Layout = "./Layout/_GuestLayout";
}




<style>
    .articleCard {
        height: 100%;
        transition: transform 0.3s ease, background-color 0.3s ease, border-radius 0.3s ease, border 0.3s ease;
    }
        .articleCard:hover {
            transform: translateY(-15px);
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 6px 15px rgba(0, 0, 0, 0.1), 0 15px 25px rgba(0, 0, 0, 0.1);
        }

    .imageArticle {
        height: 300px;
        border: 2px solid white;
        border-radius: 5px;
    }

    .searchForm {
        margin-bottom: 15px;
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #FFFFFF;
        border: 1px solid #dee2e6;
        border-left: 5px solid #FFCC00
    }
</style>


<div class="row">
    <div class="col-12">
        <div class="input-group searchForm">
            <input type="text" class="form-control" placeholder="Search for magazines..." aria-label="Search" aria-describedby="searchButton">
            <button class="btn btn-outline-secondary" type="button" id="searchButton">Search</button>
        </div>
    </div>

    @foreach (var magazine in Model)
    {
        <div class="col-lg-4 my-3">
            <div class="card articleCard mb-3 bg-black text-white p-2">
                <img src="@magazine.CoverImage" class="card-img-top imageArticle" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><i class="bi bi-newspaper me-2"></i>@magazine.Title</h5>
                    <p class="card-text">
                        <i class="bi bi-bookmark me-2"></i>
                        @magazine.Faculty
                    </p>
                    <a class="btn btn-primary" asp-controller="Home" asp-action="Details" asp-route-id=@magazine.Id>
                        <i class="bi bi-box-arrow-in-right"></i>
                        View details
                    </a>
                </div>
            </div>
        </div>
    }
</div>


