@{
    ViewData["Title"] = "Home Page";

}




<div class="container-fluid my-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <partial name="_TodayMagazine" />
            </div>
            <div class="col-lg-4">
                <partial name="_HomeSidebar" />
            </div>
        </div>
    </div>
</div>
