@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }


    .card {
        background-color: #6C5CE7;
        border: none;
        border-radius: 20px;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
        color: #fff;
    }

    .card-body {
        padding: 20px;
    }


    .card-link {
        color: #fff;
    }

        .card-link:hover {
            text-decoration: underline;
        }
</style>

<div class="container">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h1 class="text-center">@ViewData["Title"]</h1>
                <partial name="_StatusMessage" model="Model.StatusMessage" />
                <div class="d-flex justify-content-center">
                    <a asp-controller="Admin" asp-action="AccountsManagement" class="btn btn-warning d-flex align-items-center"><i class="bi bi-house-door-fill me-2 fs-4"></i>Back to Admin page</a>
                </div>
            </div>
        </div>
    </div>
</div>
